include ../../../node_modules/bemto.pug/bemto

+b.screen
  +e.H4.title Func Style
  +b.block
    +e.name Input
    +e.content_json {{ input | json }}
  +b.block
    +e.name Output
    +e.content_json {{ output | json }}

