h3.main-title Positive Technologies Test Work
nav
  a(routerLink="/", routerLinkActive="active-link", [routerLinkActiveOptions]="{exact: true}") Home
  a(routerLink="/func", routerLinkActive="active-link", [routerLinkActiveOptions]="{exact: true}") Func Style
  a(routerLink="/oop", routerLinkActive="active-link", [routerLinkActiveOptions]="{exact: true}") OOP Style

main: router-outlet

footer Rogalin V © 2017
