include ../../../node_modules/bemto.pug/bemto

+b.screen
  +e.H4.title Test Work
  +e.subtitle powered by Vyacheslav Rogalin
  +e.desc Part of cart functionality implemented in separate structures: Func Style and OOP style
